<header>
    <a class="site-title" href="/"><h1><img class="site-icon" src="/favicon.ico"></img> Runtracker</h1></a>

    <nav class="navbar">
        <ul class="navitem">
            {{#if authenticated}}
                {{> userButtons}}
            {{else}}
                {{> guestButtons}}
            {{/if}}
        </ul>
    </nav>
</header>