<li class="navlink">
    <a href="/">My Runs</a>
</li>
<li class="navlink">
    <a href="/logrun">Log a run</a>
</li>
<li class="navlink">
    <a href="/addcourse">Add a course</a>
</li>
<li class="navlink">
    <a href="/logout">Log Out</a>
</li>