<li class="navlink">
    <a href="/">My Runs</a>
</li>
<li class="navlink">
    <a href="/logrun">Log a Run</a>
</li>
<li class="navlink">
    <a href="/addcourse">Add a Course</a>
</li>
<li class="navlink">
    <a href="/manage">Manage Account</a>
</li>
<li class="navlink">
    <a href="/logout">Log Out</a>
</li>