<h2>Change Password:</h2>
<form>
    <label for="current">Current Password:</label>
    <input type="text" id="current" value=""><br>
    <label for="new">New Password:</label>
    <input type="text" id="new" value=""><br>
    <input type="button" id="submitBtn" value="Change Password"><br>
</form>


<h2>Delete Account:</h2>
<form method="POST" action="/delete">
    <input type="button" id="deleteBtn" value="Delete Account">
</form>

<script src="/accountManagement.js"></script>