<input type="text" id="searchField" value="">
<input type="button" id="searchButton" value="Search">
<p id="distance"></p>
<div id="map"></div>
<input type="button" id="startRun" value="Start Run From Location">
<input type="button" id="cancel" value="Cancel">
<input type="button" id="saveRoute" value="Save">
<input type="button" id="loadSavedRoute" value="Load Saved">

<script src="/loadMap.js"></script>
<script src={{googleMapsAPI}} async defer></script>