{{#if rMsg}}
    <div class="rMsg hidden">{{rMsg}}</div>
{{/if}}

<h3>Log in to your account:</h3>

<form method="POST" action="/login">
    <label for="username">Username:</label>
    <input type="text" name="username" value=""><br>
    <label for="password">Password:</label>
    <input type="password" name="password" value=""><br>
    <input type="submit" id="submitBtn" value="Log In">
</form>

<script src="/redirectCheck.js"></script>