{{#if rMsg}}
    <div class="rMsg hidden">{{rMsg}}</div>
{{/if}}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h3>Log in to your account:</h3>

                <form method="POST" action="/login">
                    <label for="username">Username:</label>
                    <input type="text" name="username" value=""><br>
                    <label for="password">Password:</label>
                    <input type="password" name="password" value=""><br>
                    <input type="submit" id="submitBtn" value="Log In">
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

<script src="/redirectCheck.js"></script>