<div class="row">
    <div class="col-md-3 col-sm-0"></div>
    <div class="col-md-6 col-sm-12 container">
        <div class="row">
            <div class="col-md-6">
                <div id="map"></div><br>
                <label for="startTime">Time of run:</label>
                <input type="datetime-local" id="startTime" required><br>
                <label for="duration">Run duration:</label>
                <input type="number" id="duration"><span> min</span><br>
                <input type="button" id="log" value="Log Run">
            </div>
            <div class="col-md-6">
                <h2>Courses:</h2>
                <ul id="courseList" class="list-group">
                {{#each course}}
                    <li class="course list-group-item">
                        <span class="name pull-left">{{this.name}}</span>
                        <span class="pull-right">mi</span><span class="distance pull-right">{{this.distance}}</span><br>
                        <span class="route hidden">{{this.route}}</span>
                    </li>
                {{/each}}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-0"></div>
</div>

<script src="/logRun.js"></script>
<script src={{googleMapsAPI}} async defer></script>