<a href="/logrun">Log a run</a><br>
<a href="/addcourse">Add a course</a><br><br>

<form>
    <h2>Date Range:</h2>
    <label for="begin">From </label>
    <input type="date" id="begin" value={{begin}}>
    <label for="end"> to </label>
    <input type="date" id="end" value={{end}}>
    <input type="button" id="generate" value="Generate Report">
</form>
<br><br>
<table id="report">
    <thead>
        <tr class="heading">
            <th>Date</th>
            <th>Distance<br>(mi)</th>
            <th>Duration<br>(min)</th>
            <th>Average Pace<br>(min/mi)</th>
        </tr>
    </thead>
    <tbody>
        <tr class="run-template hidden">
            <td class="date"></td>
            <td class="distance"></td>
            <td class="duration"></td>
            <td class="pace"></td>
        </tr>
    </tbody>
</table>

<script src="/report.js"></script>