<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h3>Create an account:</h3>

                <form method="POST" action="/signup">
                    <label for="username">Username:</label>
                    <input type="text" name="username" value=""><br>
                    <label for="password">Password:</label>
                    <input type="password" name="password" value=""><br>
                    <input type="button" id="submitBtn" value="Sign Up">
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

<script src="checkInputs.js"></script>