<form method="POST" action="/signup">
    <input type="text" name="username" value="">
    <input type="password" name="password" value="">
    <input type="button" id="submitBtn" value="Log In">
</form>

<script src="checkInputs.js"></script>